$white: #ffffff;
$black: #000000;
$off-white: #f6f6f6;
$charcoal: #444;

$light-black: #2d2e31;
$light-grey: #d2d1d1;
$primary: #1c6776;
$primary-light: #ccdee1;
$primary-light-text: #8faeb1;
$red: #d8403b;
$error-red: $red;
