/*
 global style rules for the app
 only universal/base styles should live here
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

input {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

div {
  box-sizing: border-box;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}
