/*
 global style rules for the app
 only universal/base styles should live here
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  height: 100vh;
  overflow: hidden;
}

#root {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;

  .selected-title {
    font-size: 24px;
    margin: 16px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .buttons {
    margin: 16px;
    position: absolute;

    button {
      font-size: 18px;

      &:first-child {
        margin-right: 8px;
      }
    }
  }
}

.canvas-parent {
  height: 100%;
  width: 100%;

  canvas {
    background-color: rgba(50, 0, 0, 0.05);
  }
}